# Ejercicios

Escriba el codigo en la celda correspondiente para resolver el problema planteado.

## Fundamentos

En esta parte se trabajara con el dataset ***homelessness***, este es un dataset que contiene estimaciones de personas sin hogar en cada estado de EE. UU. en 2018. 

La columna "individual" es el número de personas sin hogar que no forman parte de una familia con niños. 

La columna "family_members" es el número de personas sin hogar que forman parte de una familia con niños. 

La columna "state_pop" es la población total del estado.

importar pandas como ***pd***

Importar el archivo *homelessness.csv*

Utilice las funciones ***head() y tail()*** para visualizar los datos

Imprima las columnas y el tipo de dato de cada columna utilizando la función ***info()***

Imprima las ***columnas*** del dataset

### Ordenar y filtrar Datos

Ordene el dataset *homelessness* por *individuals*, de menor a mayor, guarde el sesultado en una variable llamada *homelessness_ind*.

Imprima los primeros elementos del resultado.

Ordene el dataset *homelessness* primero por *region (ascendente)* y luego por *family_members (descendente)*, guarde el sesultado en una variable llamada *homelessness_reg_fam*.

Imprima los primeros elementos del resultado.

Crea un DataFrame llamado *state_fam* que contenga únicamente la columna *state* y *family_members*.

De *state_fam* Obtenga todos los renglones donde *family_members* sea mayor o igual a 2000.

De *state_fam* Obtenga todos los renglones donde  *state* sea New York o Washington

### Generar nuevas columnas

Agrega una nueva columna llamada ***total***, esta columna tendrá la suma de *individuals* y *family_members*.

## Funciones de agregación

En esta sección se trabajará con el dataset de ventas de Walmart.

Este dataset contiene ventas semanales de varias tiendas de los Estados Unidos.

### Funciones estadisticas

Importe el dataset ***sales_subset*** e imprima los primeros datos usando la función *head()*.

Obtenga el promedio y la mediana de la columna *weekly_sales*

Imprima la fecha minima de la columna *date*.

### Funciones para variables categoricas

Se desea saber cuantos tipos de tiendas diferentes existen, elimine todas las tiendas que tengan el mismo **type** y **store** y almacenelo en una variable llamada *store_types*.

Cuente el número de tiendas de cada tipo

### Agrupamiento

Agrupe las ventas por *type* y obtenga la suma y el promedio de la columna *weekly_sales*.

Realice la misma operación pero utilizando tablas pivote.

Ahora obtenga el promedio de *weekly_sales* agrupando por *type* e *is_holiday*.

## Indexado

### Subconjuntos con LOC y ILOC

En esta parte se trabajará con el dataset *temperatures*, este dataset la temperatura promedio mensual en distintas ciudades del mundo.

Importe el dataset ***temperatures***

Utilizando la función set_index(), asigne como índice la columna *date*, guarde el resultado en una variable llamada *temp_date*.

Utilizando el método loc, obtenga todos los renglones del 2010 (es importante ordenar el indice de fecha antes de usar el método loc).

### Ejercicio integrado

Utilizando el dataset *temperatures*, obtenga una nueva columna llamada *year* a partir de la columna *date*. 

Almacene el resultado en una variable llamada *year_temp*

Asigne el año, el pais y la ciudad como tablas pivote en la variable year_temp para obtener la temperatura en grados Farenheit, el promedio, el valor minimo y maximo de temperaturas.